@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Vinyl&display=swap");

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: black;
	height: 100vh;
	width: 100vw;
}

h1 {
	font-family: "Rubik Vinyl", sans-serif !important;
	background: rgb(37, 65, 126);
	background: -webkit-linear-gradient(
		to right,
		rgb(59, 104, 139),
		rgb(45, 124, 185),
		rgb(12, 77, 197)
	);
	background: linear-gradient(
		to right,
		rgb(59, 104, 139),
		rgb(45, 124, 185),
		rgb(12, 77, 197)
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 25px;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
}

#toolbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	width: 100px;
	background: rgb(182, 182, 182);
}

#toolbar * {
	margin-bottom: 10px;
	font-family: "Poppins", sans-serif;
}

#toolbar label {
	font-size: 15px;
}

#toolbar input {
	width: 100%;
	border: none;
	border-radius: 4px;
}

#toolbar button,
#toolbar .tool {
	width: 100%;
	background-color: rgb(0, 60, 134);
	border: none;
	color: white;
	padding: 2px;
	border-radius: 4px;
	cursor: pointer;
	transition: 100ms all;
}

#toolbar *:hover:not(label, input) {
	background-color: rgb(0, 58, 112);
}

#stroke {
	min-height: 2rem;
}

.tool {
	cursor: pointer;
	width: 70%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.active {
	background: rgb(0, 140, 255);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
