@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Vinyl&display=swap");

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: black;
	height: 100vh;
	width: 100vw;
}

h1 {
	font-family: "Rubik Vinyl", sans-serif !important;
	font-size: 25px;
}

h1,
.active {
	background: rgb(37, 65, 126);
	background: -webkit-linear-gradient(
		to right,
		rgb(59, 104, 139),
		rgb(45, 124, 185),
		rgb(12, 77, 197)
	);
	background: linear-gradient(
		to right,
		rgb(59, 104, 139),
		rgb(45, 124, 185),
		rgb(12, 77, 197)
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
}

#toolbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	width: 100px;
	background: rgb(182, 182, 182);
}

#toolbar * {
	margin-bottom: 10px;
	font-family: "Poppins", sans-serif;
}

#toolbar label {
	font-size: 15px;
}

#toolbar input {
	width: 100%;
	border: none;
	border-radius: 4px;
}

#toolbar button {
	width: 100%;
	background-color: rgb(0, 60, 134);
	border: none;
	color: white;
	padding: 2px;
	border-radius: 4px;
	cursor: pointer;
	transition: 100ms all;
}

.tool {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tool i {
	margin-right: 1rem;
}

.tool * {
	margin-bottom: 0 !important;
}

.tool:hover {
	background-color: rgb(1, 32, 61);
}

#clear,
#save {
	background-color: #fff !important;
	color: black !important;
	border: solid 1px rgb(0, 60, 134) !important;
}

#stroke {
	min-height: 2rem;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
	background-color: #003c86;
	border-radius: 0.5rem;
	height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	margin-top: -4px;
	background-color: #ffffff;
	border: solid 1px #003c86;
	border-radius: 0.5rem;
	height: 1rem;
	width: 1rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
	background-color: #003c86;
	border-radius: 0.5rem;
	height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
	background-color: #ffffff;
	border: solid 1px #003c86;
	border-radius: 0.5rem;
	height: 1rem;
	width: 1rem;
}
